
/* Universal Styles */

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

/* Header Styles */

header {
  display: flex;
  justify-content: center;
  background-color: hsla(125, 15%, 52%, 1);
}

header .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 1px solid gold; /* Container Border */
  width: 80%;
  padding: 0 1.5rem;
  height: 4rem;
  color: hsla(125, 15%, 73%, 1);
}

header h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
}

header h3 span {
  font-weight: 600;
  color: black;
}

header .container li {
  display: inline-block;
  margin-right: 1rem;

}

header .container li:last-child {
  margin-right: 0;
}

header h3 {
  margin-right: auto;
}

@media only screen and (max-width: 1140px) {
  header .container {
    width: 100%;
  }
}

/* Main Section Styles */

.box {
  display: flex;
  justify-content: center;
}

.box .container {
  display: flex;
  /* border: 1px solid gold; /* Container Border */
  width: 80%;
  padding: 0 1.5rem;
}

@media only screen and (max-width: 1140px) {
  .box .container {
    width: 100%;
  }
}

/* Box One and Two Styles */

.box .left {
  width: 60%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.box .left img {
  width: 100%;
}

.box .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Box One ONLY Styles */

.box.one {
  background-color: hsla(45, 41%, 60%, 1);
}

.box.one .right h1 {
  font-size: 2rem;
  font-weight: 600;
}

.box.one .right {
  padding-left: 1.5rem;
}

.box.one .right .button {
  background-color: hsla(125, 15%, 52%, 1);
  color: black;
  text-align: center;
  padding: .75rem 0;
}

.box.one .right h1,
.box.one .right p {
  margin-bottom: 1.5rem;
  max-width: 290px;
  line-height: 1.2;
  color: hsla(45, 41%, 30%, 1);
}

/* Box Two ONLY Styles */

.box.two {
  background-color: hsla(45, 41%, 50%, 1);
}

.box.two .left {
  flex-direction: column;
  align-items: flex-start;
  color: hsla(45, 41%, 20%, 1);
}

.box.two .left h2 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.box.two .left p {
  margin-bottom: 2rem;
  line-height: 1.2;
}

.box.two .left p.byline {
  margin-bottom: 0;
  line-height: 1;
  font-size: .85rem;
}

@media only screen and (max-width: 1140px) {
  .box.two .left {
    width: 50%;
  }
}

  /* Sidebar Styles (inside box two) */

.box.two .right .sidebar {
  display: flex;
  width: 100%;
  margin-left: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid hsla(45, 41%, 70%, 1);
  color: hsla(45, 41%, 20%, 1);
}

.box.two .right {
  width: 40%;
  margin: 2rem 0;
  justify-content: space-between;
}

.box.two .sidebar img {
  width: 35%;
  height: 100%;
}

.box.two .sidebar .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
}

.box.two .sidebar h4,
.box.two .sidebar p {
  padding-left: 1rem;
}

.box.two .sidebar h4 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: .75rem;
  line-height: 1.2;
}

.box.two .sidebar p {
  padding-bottom: .75rem;
  line-height: 1.2;
}

.box.two .sidebar p.read_more { /* Eliminates Padding on Red More link */
  padding-bottom: 0;
  font-size: .85rem;
  color: hsla(45, 41%, 70%, 1);
  text-decoration: underline;
}

.box.two .right .sidebar:last-child {
  background-color: hsla(125, 15%, 52%, 1);
  color: black;
  border-bottom: none;
}

.box.two .right .sidebar:last-child p.read_more {
  color: hsla(125, 15%, 73%, 1);
}
